.form_bg{
    height: 100vh;
    background-color: #262626;
    background-image: linear-gradient(0deg, #262626 0%, #484c48 100%);

    h3{
        color: white;
    }

    label{
        display: none;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
        input{
            padding: 5px 10px;
            width: 300px;
        }
        button{
            padding: 5px 10px;
            background:#0084FF;
            border: none;
            color: white;
            font-size: 19px;
        }
    }
}